<div id="suites" class="col-left">
  <ul>
    <li class="item" data-suitename="create-dom-element">
      <span class="title">Create DOM Element</span>
      <button class="single-run">
        <span>run</span>
      </button>
    </li>
    <li class="item" data-suitename="string-indexof_vs_regextest">
      <span class="title">String.indexof vs Regex.test</span>
      <button class="single-run">
        <span>run</span>
      </button>
    </li>
  </ul>
</div>
