<div id="suites" class="col-left">
  <ul>
    {{#each suitesobj}}
    <li class="item" data-suitename="{{id}}">
      <span class="title">{{name}}</span>
      <button class="single-run">
        <span>run</span>
      </button>
    </li>
    {{/each}}
  </ul>
</div>
